run = "nix-shell --packages pkgs.php82 | cd /nix/store/6abnc1cqyn1y6f7nh6v76aa6204mc79z-php-with-extensions-8.2.20 && php -S 0.0.0.0:8000 -t ."

entrypoint = "index.php"

[nix]
channel = "stable-24_05"

[deployment]
run = ["nix-shell --packages pkgs.php82 | cd /nix/store/6abnc1cqyn1y6f7nh6v76aa6204mc79z-php-with-extensions-8.2.20 && php -S 0.0.0.0:8000 -t ."]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
