run = "php -S 0.0.0.0:8000 -t ~/Workspace"

entrypoint = "index.php"

[nix]
channel = "stable-24_05"

[deployment]
run = ["php -S 0.0.0.0:8000 -t ~/Workspace"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
